# TOC
   - [TESTS](#tests)
     - [Working Test](#tests-working-test)
<a name=""></a>
 
<a name="tests"></a>
# TESTS
<a name="tests-working-test"></a>
## Working Test
The test should works.

```js
assert.equal(myTest(), 'The test works!');
```

